#
# Misc strange devices
#

menuconfig MISC_DEVICES
	bool "Misc devices"
	---help---
	  Say Y here to get to see options for device drivers from various
	  different categories. This option alone does not add any kernel code.

	  If you say N, all options in this submenu will be skipped and disabled.

if MISC_DEVICES

config BMP18X
	tristate "BMP18X digital pressure sensor"
	depends on (I2C ) && SYSFS
	help
	  If you say yes here you get support for Bosch Sensortec
	  digital pressure sensors BMP085, BMP180.

	  To compile this driver as a module, choose M here: the
	  module will be called bmp18x-core.

config BMP18X_I2C
	tristate "support I2C bus connection"
	depends on BMP18X && I2C
	help
	  Say Y here if you want to support Bosch Sensortec digital pressure
	  sensor hooked to an I2C bus.

	  To compile this driver as a module, choose M here: the
	  module will be called bmp18x-i2c.

endif # MISC_DEVICES
