config VIDEO_IMAGEON
	tristate "Imageon card RX support"
	depends on MEDIA_SUPPORT && VIDEO_V4L2 && I2C && VIDEO_V4L2_SUBDEV_API
	select I2C_ALGOBIT
	select VIDEO_ADV7604
	select VIDEOBUF2_DMA_CONTIG
	---help---
	  To compile this driver as a module, choose M here: the
	  module will be called imageon-rx.
