if ARCH_MSM7X00A

comment "MSM7X00A Board Type"
	depends on ARCH_MSM7X00A

config MACH_HALIBUT
	depends on ARCH_MSM7X00A
	default y
	bool "Halibut Board (QCT SURF7200A)"
	help
	  Support for the Qualcomm SURF7200A eval board.

config MSM7X00A_IDLE
	depends on ARCH_MSM7X00A
	default y
	bool "Idle Support for MSM7X00A"

config MSM_SMD
	tristate "MSM SMD Drivers"
	depends on ARCH_MSM7X00A
	default y
	help
	  Support for shared memory interface to the ARM9 "Modem" processor
	  on MSM7X00A.  Needed for access to many services, including power
	  and clock control, cellular voice and data network access, etc.

config MSM_HW3D
	tristate "MSM Hardware 3D Register Driver"
	depends on ARCH_MSM7X00A
	default y
	help
	  Provides access to registers needed by the userspace OpenGL|ES
	  library.

endif
