if ARCH_MSM7X00A

comment "MSM7X00A Board Type"
	depends on ARCH_MSM7X00A

config MACH_HALIBUT
	depends on ARCH_MSM7X00A
	default y
	bool "Halibut Board (QCT SURF7200A)"
	help
	  Support for the Qualcomm SURF7200A eval board.

choice
	prompt "MSM Low-Level Debug UART"
	depends on ARCH_MSM7X00A
	default MSM_LL_DEBUG_UART1
	help
	  If there is a debug serial port hooked up, this option
	  will make sure the Uncompressing Linux... messages and
	  the DEBUG_LL messages get routed to it correctly.

config MSM_LL_DEBUG_UART1
	bool "UART1"

config MSM_LL_DEBUG_UART2
	bool "UART2"

config MSM_LL_DEBUG_UART3
	bool "UART3"

config MSM_LL_DEBUG_NONE
	bool "NONE"

endchoice

config MSM7X00A_IDLE
	depends on ARCH_MSM7X00A
	default y
	bool "Idle Support for MSM7X00A"

config MSM_SMD
	tristate "MSM SMD Drivers"
	depends on ARCH_MSM7X00A
	default y
	help
	  Support for shared memory interface to the ARM9 "Modem" processor
	  on MSM7X00A.  Needed for access to many services, including power
	  and clock control, cellular voice and data network access, etc.

config MSM_HW3D
	tristate "MSM Hardware 3D Register Driver"
	depends on ARCH_MSM7X00A
	default y
	help
	  Provides access to registers needed by the userspace OpenGL|ES
	  library.

config MSM_ADSP
	tristate "MSM aDSP driver"
	depends on ARCH_MSM7X00A
	default y
	help
	  Provides access to registers needed by the userspace aDSP library.

config MSM_PERF
	tristate "MSM Performance Counter Driver"
	depends on ARCH_MSM7X00A
	default y
	help
	  Provides access to ARM11 performance counters.

endif
