menuconfig DRM_PANEL
	bool "DRM panel support"
	help
	  Panel registration and lookup framework.

if DRM_PANEL

config DRM_PANEL_SIMPLE
	bool "support for simple panels"
	depends on OF
	help
	  DRM panel driver for dumb panels that need at most a regulator and
	  a GPIO to be powered up. Optionally a backlight can be attached so
	  that it can be automatically turned off when the panel goes into a
	  low power state.

endif
